<div class="flex justify-center">
  @let data = movie(); @if(data) {
  <div class="w-full sm:w-9/12 ml-auto mr-auto">
    <div class="flex flex-wrap">
      <div class="w-full sm:w-3/12 bg-blue-100 p-5 sm:pb-20">
        <h1 class="font-bold text-lg">{{ data.title }}</h1>
        <div class="w-10 h-1 bg-blue-600"></div>
        <ul class="space-y-2 mt-2 sm:mb-8">
          <li>
            <span class="text-xs text-gray-700">Director</span>
            <strong class="block text-sm text-gray-700">{{
              data.directors.join(", ")
            }}</strong>
          </li>
          <li>
            <span class="text-xs text-gray-700">Plot</span>
            <strong class="block text-sm text-gray-700">{{ data.plot }}</strong>
          </li>
          <li>
            <span class="text-xs text-gray-700">Genres</span>
            <strong class="block text-sm text-gray-700">
              {{ data.genres.join(", ") }}
            </strong>
          </li>
          <li>
            <span class="text-xs text-gray-700">Release Date</span>
            <strong class="block text-sm text-gray-700">
              {{ data.released }}
            </strong>
          </li>
          <li>
            <span class="text-xs text-gray-700">Screenplay</span>
            <strong class="block text-sm text-gray-700">
              {{ data.writers.join(", ") }}
            </strong>
          </li>
        </ul>
      </div>
      <div
        class="relative w-full px-8 text-lg text-white sm:w-9/12 h-64 sm:h-auto bg-indigo-900 bg-cover relative flex items-center justify-center"
      >
        {{ data.fullplot }}
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full sm:w-3/12 bg-white flex">
        <figure
          class="mt-5 mb-4 ml-auto mr-auto sm:-mt-16 sm:mr-0 sm:ml-8 sm:mb-0 w-full relative"
        >
          <img
            [src]="data.poster"
            alt=""
            class="relative z-10 w-1/2 h-auto block ml-auto mr-auto sm:ml-0 sm:mr-0 sm:w-full sm:h-64 object-cover"
          />
        </figure>
      </div>
      <div class="w-full sm:w-9/12 bg-gray-100 flex">
        <div
          class="bg-white sm:-mt-16 sm:mr-8 w-full h-64 relative rounded-tr-lg"
        >
          <ul
            class="flex flex-wrap pl-2 pr-2 mb-2 sm:pt-5 sm:pb-5 sm:pl-8 sm:pr-8 sm:space-x-6 text-sm font-light"
          >
            <li
              class="cursor-pointer font-semibold border-b-2 border-red-600 leading-loose pr-3"
            >
              Stars
            </li>
            <li
              class="cursor-pointer hover:font-semibold border-b-2 border-transparent hover:border-red-600 leading-loose pr-3"
            >
              Gallery
            </li>
            <li
              class="cursor-pointer hover:font-semibold border-b-2 border-transparent hover:border-red-600 leading-loose pr-3"
            >
              Languages
            </li>
            <li
              class="cursor-pointer hover:font-semibold border-b-2 border-transparent hover:border-red-600 leading-loose pr-3"
            >
              Locations
            </li>
          </ul>

          <div class="flex gap-4 w-full mb-4 ml-6">
            @for(cast of data.casts; track cast) {
            <div class="flex items-center">
              <lucide-icon
                [img]="CircleUserRound"
                [size]="48"
                class="mr-2 rounded-full"
              ></lucide-icon>
              <span class="text-sm font-bold text-gray-800">{{ cast }}</span>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
